.idea
*override.php
*~*
*.orig
*conflicted*
.buildpath
.project
.settings
.DS_Store
*.sublime*
.tags
.tags_sorted_by_file
composer.lock
.vagrant
robots.txt

var/*
init/lj_data
tests/var/*
www/media
www/proxy.php
www/tests
www/users/*/
www/shared
www/pages
www/days
www/off.html
www/*ForTests*

www/lib/Override.js

nbproject
.sublime*

*override.sh
