body {
    padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.btn:hover, a.not-decorated {
  text-decoration: none;
}

.container-narrow {
    margin: 0 auto;
    max-width: 760px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.with-shadow {
    color: rgba(70,70,70,0.6);
}

.text-center {
  text-align: center;
}

.day-bages {
    /*font-size: 0.7em;*/
}

.timepicker {
  margin-bottom: 5px;
}

/*.timepicker input {
  width: 37px;
}*/

.add-on-small {
  padding: 2px 7px !important;
  height: 26px !important;
  font-size: 14.45px !important;
}

.icon-heart,
.icon-heart-empty {
  color: #980000;
}
/*.days ul {*/
/*list-style: none;*/
/*padding-bottom: 20px;*/
/*}*/

/*.days ul li {*/
/*float: left;*/
/*}*/

.thumbnails {
  /*margin: 20px;*/
}

.thumbnails > li {
  margin-left: 10px;

  /*border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);*/
}

.days br {
    clear: both;
}

.day-controls {
  margin-top: 35px;
}

.day-controls a {
  padding-left: 5px;
}

.day-info {
  font-size: 0.9em;
  clear: both;
}

.day-info a {
  white-space: nowrap;
}

.day-user-actions {
  height: 45px;
}

.moment-item {
  position: relative;
}

.moment-item img {
  max-width: 100%;
}

.moment-item-placeholder {
  text-align: center;
}

.moment-controls-overlay {
  top:5px;
  right: 5px;
  position: absolute;
}

.moment-controls-overlay a {
  padding: 0px;
}

.moment-time {
  margin-bottom: 5px;
}

.moment-image-holder {
  position: relative;
  clear: both;
  max-width: 100%;
  width: 410px;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

.moment-image-holder img {
  max-width: 100%;
  width: 410px;
}

.moment-image-holder a {
  color: #FFF;
}

.moment-image-overlay {
  position: absolute;
  color:#FFF;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 6px 2px 2px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.overlay-like {
  bottom:5px;
  right: 5px;
}

.moment-description {
  max-width: 100%;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.comment-item {
  margin-top: 20px;
  clear: both;
}

.comment-item .text {
  overflow: hidden;
}

.comment-item .bubble {
  padding-bottom: 1px;
}

.comment-item img {
  margin-right: 20px;
}

.comment-item .bubble,
.comments-loader {
  margin-left: 100px;
}

.comments-loader {
  clear: both;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Speech bubbles */
.bubble {
  position:relative;
  padding:15px;
  /*margin:5px 0 0.5em;*/
  color:#333;
  background:#eee;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.moment-description p {font-size:28px; line-height:1.25em;}

/* creates the triangle */
.bubble:after {
  content:"";
  position:absolute;
  top:-30px;
  left:50px;
  border:15px solid transparent;
  border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.bubble small {
  margin-top: 5px;
  display: block;
  line-height: 20px;
  color: #999999;
}

.bubble small a {
  color: rgb(153, 153, 153);
}

.bubble small:before {
  content: '\2014 \00A0';
}

/* creates the larger triangle */


/* creates the smaller  triangle */
.bubble.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #eee;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.bubble + p {padding-left:15px; font:14px Arial, sans-serif;}

ul.inline >li:last-child,
ol.inline >li:last-child {
  padding-right: 0;
}

ul.inline >li:first-child,
ol.inline >li:first-child {
  padding-left: 0;
}

/* Responsive */
@media (min-width: 500px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 500px) {
  .comment-item img {
    width: 36px;
  }

  ul.inline >li,
  ol.inline >li {
    padding-left: 3px;
    padding-right: 3px;
  }

  .comment-item .bubble {
    margin-left: 50px;
  }

  .moment-description {
    width: 210px;
  }

  .moment-image-holder,
  .moment-image-holder img {
    width: 230px;
    margin-left: 0;
    margin-right: 0;
  }
}
