<div id="fb-root"></div>
<canvas id="canvas"></canvas>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId  : '<?php echo $conf['fb']['appid']; ?>',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true  // parse XFBML
        });
        FB.Canvas.setAutoResize();

        fbApiInit = true; //init flag
    };

    function fbEnsureInit(callback) {
        if(!window.fbApiInit) {
            setTimeout(function() {fbEnsureInit(callback);}, 50);
        } else {
            if(callback) {
                callback();
            }
        }
    }

    var ctx = document.getElementById('canvas').getContext('2d');
    var img = new Image();
    img.onload = function(){
        for (var i = 0;i < 4;i++){
            for (var j = 0;j < 3;j++){
                ctx.drawImage(img, j*50, i*38, 50, 38);
            }
        }
    };
    img.src = 'http://lorempixel.com/g/200/200/';

    //    (function(d){
    //        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    //        if (d.getElementById(id)) {return;}
    //        js = d.createElement('script'); js.id = id; js.async = true;
    //        js.src = "//connect.facebook.net/en_US/all.js";
    //        ref.parentNode.insertBefore(js, ref);
    //    }(document));

    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        // calling the API ...
        var obj = {
            method: 'feed',
            redirect_uri: 'http://apps.facebook.com/one-day-of-mine-test',
            picture: 'http://lorempixel.com/g/200/200/',
            name: 'Facebook Dialogs',
            caption: 'Reference Documentation',
            description: 'Using Dialogs to interact with users.'
        };

        function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
    }

    function login() {
        FB.login(function(response) {
            if (response.authResponse) {
                // connected
                testAPI();
            } else {
                // cancelled
            }
        });
    }
</script>